.clip-l{
    -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 25%, 75% 0);

    clip-path: polygon(10% 0%, -30% 100%, 100% 100%, 100% 0%, 0% 0%);
  } 
.clip-r{
    clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 25%, 88% 0);
}