@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&display=swap');

@font-face {
  font-family: Nokia;
  src: url('./assets/fonts/Nokia.ttf');
  font-weight: 600;
}
.font-nokia{
  font-family:Nokia;
}
body, html {
  font-family: 'Montserrat', sans-serif;
}

.cover{
    aspect-ratio: 3402/1294;
    background-repeat: no-repeat;
    background-position:top 80px center;
    background-attachment: fixed;

}

.bg-hand{
  background:url('./assets/images/bg3.png') no-repeat #000000;
  -o-background-size:  100% 100vh;
  -moz-background-size:  100% 100vh;
  -webkit-background-size: 100% 100vh;
  background-size:  100% 100vh;
  background-attachment: fixed;
  

}
@media (max-width: 1300px) {
  .bg-hand {
      background-size: auto 100vh;
      background-position: top;
  }
}
img {
  user-select: none;
}

.time-location{
    font-family: 'Montserrat', sans-serif;
    letter-spacing: -1.5%;
    overflow-x: hidden;
}

.deadline-dang-ky{
    padding: 20px 0 40px 0;
    color: white;
    opacity: 0.95;
    text-shadow: 1px 1px 2px black, 0 0 25px #18448a, 0 0 5px #7bb6ff;
}

/*  */

.cyberpunk-button.small {
  font-size: 16px;
    padding: 10px 20px;
}
.cyberpunk-button.smaller {
  font-size: 12px;
    padding: 6px 14px;
}
.cyberpunk-button {
    display: inline-block;
    padding: 16px 26px;
    background-color: #684cef;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 4px;
    transition: background-color 0.45s ease;
    position: relative;
    overflow-x: hidden;
  }
  
  .cyberpunk-button:before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    /* background: linear-gradient(90deg, rgba(0,0,0,0.2), rgba(0,0,0,0.5), rgba(0,0,0,0.2)); */
    background: linear-gradient(90deg, rgba(0,0,0,0.2), rgba(0,0,0,0.5), rgba(0,0,0,0.2));
    transition: left 0.45s ease;
    z-index: 1;
  }
  
  .cyberpunk-button:hover {
    background-color: #ffffff;
    color: #684cef;
    /* color: white; */
  }
  
  .cyberpunk-button:hover:before {
    left: 100%;
  }

  .about-heading {
    font-size: 60px;
    padding: 10px 0 40px 0;
  }

  .event-heading, .about-heading {
    color: #fff; /* White text color */
    text-shadow: 0 0 10px #8a2be2; /* Light purple text shadow */
    -webkit-text-stroke: 1px #8a2be2; /* Purple border around text */
  }
  
  .light-purple{
    text-shadow: 0 0 3px #8a2be2; /* Light purple text shadow */
    -webkit-text-stroke: 0.2px #8a2be2; /* Purple border around text */
  }
  
  /* Track */
::-webkit-scrollbar {
    width: 4px; /* Width of the scrollbar */
  }
  
  ::-webkit-scrollbar-track {
    background: #333; /* Background color of the track */
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #777; /* Color of the scrollbar handle */
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #aaa; /* Color of the scrollbar handle on hover */
  }


.horizontal-bar {
  position: relative;
  height: 4px;
  border-radius:4px;
  /* background-color: #e6cfff; Light purple color */
  overflow: hidden;
}

.horizontal-bar::before {
  content: "";
  position: absolute; 
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #684cef, #8a2be2, #E068ED);
  animation: glowing 1.4s linear infinite;
}

@keyframes glowing {
  0% {
    width: 100%;
    transform: translateX(-50%);
  }
  100% {
    width: 50%;
    transform: translateX(500%);
  }
}

div {
  /* overflow-x: hidden; */
}
.clip{
  -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 25%, 75% 0);
  clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 25%, 25% 0);
} 

.mybefore{
  width: 100%;
  background-color: transparent;
  height: 200px;
}

@media (max-width: 500px) {
  ul {
    width: 0 !important;
  }
}
  

.shake-button {
  animation: shake 1.5s  infinite;
}

@keyframes shake {
  0%, 30%, 100% { transform: rotate(0); }
   5%, 15% { transform: rotate(-5deg); }
  10%, 20% { transform: rotate(5deg); }
}
  
  
  